.mainContainer {
    width: 100%;
    display: flex;
}

.containerBack {
    width: 100vw;
    background-image: url("../../assets/Back\ Ground.svg");
    display: flex;
    justify-content: space-between;
    padding: 5vh 7vw;
}

.courseFeatures {
    width: 51%;
    color: white;
    font-family: 'Roboto';
}

.courseFeatures span {
    color: #0096FF;
    font-weight: 600;
}

.courseFeatures p {
    font-weight: 500;
}

.mainHeading s {
    color: red;
    font-family: 'Roboto';
}

.mainHeading span {
    font-family: 'Roboto';
}

.courseFeatures h1 {
    font-family: 'Raleway';
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-bottom: 6vh;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.featuresList {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.featuresList img {
    width: 2.5vw;
}

.featuresList p {
    font-weight: 400;
    font-size: 1.3rem;
}

.featuresList span {
    font-weight: 600;
}