* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paymentBox {
    width: 34%;
    padding: 2vh 1.3vw;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    border-radius: 8px;
    background: #fff;
}

.upperBtns {
    display: flex;
    justify-content: space-around;
}

.topBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBtn h2 {
    width: 38px;
    height: 31px;
    border-radius: 50%;
    color: white;
    background: #0096FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.plans {
    text-align: center;
}

.subHeading {
    font-weight: 600;
    color: #3C4852;
    font-size: 1rem;
    margin-bottom: 1.3vh;
}

.planOne {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2vh;
    cursor: pointer;
    border: 2px solid #BEBEBE;
    border-radius: 2px;
    padding: 1.2vh .75vw;
    align-items: center;
}

.selectedPlan {
    border: 3px solid #47BA68;
    background: #D7EDDD;
}

.planLeftSide {
    display: flex;
    align-items: center;
    gap: .5vw;
    font-weight: 600;
    color: #3C4852;
    font-size: 1.1rem;
}


.planRightSide p {
    font-weight: 400;
    color: #3C4852;
    font-weight: 400;
    font-size: .75rem;
}

.subMPrice {
    font-weight: 600;
    color: #3C4852;
    font-size: .95rem;
    margin-left: .25vw;
}

.permonth {
    font-weight: 500;
    color: #BEBEBE;
}

/* cal */
.calculationBox {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    border-top: 2px solid grey;
}

.subscriptionFee,
.allTotal {
    display: flex;
    justify-content: space-between;
    margin-top: 1.1vh;
    padding: 0 .75vw;
}

.offerTag {
    border: 2px solid #DE4313;
    padding: .5vh .75vw;
    border-radius: 5px;
}

.offerprice {
    display: flex;
    color: #DE4313;
    font-weight: 600;
    justify-content: space-between;
}

.offerValidity {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.offerValidity p {
    color: #DE4313;
}

.allTotal p {
    font-weight: 600;
}

.allTotal span {
    font-weight: 400;
}

.allTotal h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #3C4852;
}

.paymentBtns {
    display: flex;
    justify-content: space-between;
}

.paymentBtns button {
    width: 45%;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    padding: 1.2vh 0;
}

.cancelPayment {
    border: 2px solid #F77171;
    color: #F77171;
}

.procedPayment {
    color: #fff;
    border: 2px solid #47BA68;
    background-color: #47BA68;
}

.inActivePlan {
    border: 2px solid #BEBEBE;
    background: #E7E7E7;
    font-weight: 600;

}

.inActivePlan h5,
.inActivePlan p,
.inActivePlan span {
    color: #BEBEBE;
}

.inActivePlan:hover {
    cursor: no-drop;
}

.recTag,
.expTag {
    padding: .2vh 1.1vw;
    position: absolute;
    margin-left: 3.5vw;
    font-size: .75rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
}

.recTag {
    background: #47BA68;
}

.expTag {
    background: #F77171;
}